.accordion {
  margin: 10px;
  .accordion-item {
    margin-bottom: 0.5rem;
    overflow: hidden;

    &.open {
      .accordion-header {
        background-color: #2A2A2A;
      }
    }
  }

  .accordion-header {
    position: relative; /* Ensure the pseudo-element is positioned relative to this container */
    cursor: pointer;
    padding: 1rem;
    background-color: #414141;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    /* Default state: no border */
    &::after {
      content: '';
      position: absolute;
      bottom: 0; /* Align the border at the bottom */
      right: 0; /* Start from the right side */
      width: 44%; /* Width of the border */
      height: 1px; /* Height of the border */
      background-color: #ddd; /* Color of the border */
      transform: translateX(50%); /* Move it to the left by half its width */
      opacity: 0; /* Hide the border initially */
      transition: opacity 0.3s ease; /* Smooth transition for appearance */
    }
  
    /* When accordion is open, show the border */
    &.open::after {
      opacity: 1; /* Show the border */
    }
  
    &.open {
      background-color: #2A2A2A; /* Change background color when open */
    }
  }
  

  .accordion-title {
    margin: 0;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
  }

  .accordion-toggle {
    width: 1rem;
    height: 1rem;
    font-size: 1.8rem; // Adjust size as needed
    transition: transform 0.8s ease;  display: flex;
    justify-content: center;
    align-items: center;

    svg {
      stroke: #fff; // Adjust color as needed
    }

    &.open {
      
    }
  }

  .accordion-content {
    padding: 1rem;
    background-color: #2A2A2A;
  }

  .accordion-content-wrapper {
    display: flex;
    align-items: flex-start;

    .accordion-content-image {
      width: 100px;  
      height: auto;
      margin-right: 1rem;
    }

    .accordion-content-description {
      margin: 0;
    }
  }
}
