.table-container {
  padding: 3rem 5rem;
  padding-right: 10vw;
  padding-bottom: 10vh;
  max-height: 85vh; /* Set a max height for the container */
  overflow-y: auto; /* Enable vertical scrolling */
}
.table-container > :nth-child(1) {
  border-radius: 10px !important;
  overflow: hidden !important;
}
.MuiTableRow-root,
.MuiTableCell-root {
  border: none !important;
}
