.faq-section {
  background-color: #000;
  color: #fff;
  padding: 50px 10%;
  padding-bottom: 6%;
  text-align: center;
  position: relative;
  h1 {
    margin-bottom: 30px;
    font-size: 2.5rem;
  }

  .cta-section {
    margin-top: 40px;

    p {
      margin-bottom: 20px;
      font-size: 1.2rem;
    }

    .cta-form {
      display: flex;
      justify-content: center;

      .text-field-component {
        flex: 1;
        max-width: 400px; // Adjust as needed
      }

      .cta-button {
        padding: 15px 30px;
        font-size: 1rem;
        color: #fff;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
        display: flex; /* Use flexbox to align items */
        align-items: center; /* Center align the items vertically */
      }
      
      .arrow-icon {
        margin-left: 10px; /* Adjust spacing between text and icon */
        height: auto; /* Maintain aspect ratio */
        vertical-align: middle; /* Align with text (can be removed with flex) */
      }
    }
  }
  .divider {
    height: 5px;
    background-color: #232323;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
