.section-one {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("../../assets/landing_background_img.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); // Dark overlay
    backdrop-filter: blur(1px); // Apply a blur effect
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .content {
    max-width: 70%;
    padding: 20px;

    h1 {
      font-size: 3rem;
      margin-bottom: 10px; //styleName: Bold/Title1;
      font-weight: 700;
      line-height: 62px;
      text-align: center;
    }

    h4 {
      font-size: 1.5rem;
      margin-bottom: 20px; //styleName: Regular/Title2;
      font-weight: 400;
      line-height: 30px;
      text-align: center;
    }

    .actions {
      display: flex;
      flex-direction: column; // Stack elements vertically
      align-items: center; // Center align

      .input-group {
        display: flex; // Flexbox for horizontal alignment
        gap: 8px; // Space between input and button

        .text-field-component {
          flex: 2; // Make the input take available space
          width: 19vw; // Full width to align with the button
        }

        .cta-button {
          padding: 10px 27px;
          font-size: .9rem;
          color: #fff;
          border: none;
          cursor: pointer;
          transition: background-color 0.3s ease;
          display: flex; // Use flexbox to align items
          align-items: center; // Center align the items vertically
        }

        .arrow-icon {
          margin-left: 10px; // Adjust spacing between text and icon
          height: auto; // Maintain aspect ratio
          vertical-align: middle; // Align with text
        }
      }

      .error-message {
        color: rgb(156, 125, 125); // Error message color
        font-size: 0.9rem; // Font size for error message
        margin-top: 10px; // Space above the error message
        text-align: center; // Center text if desired
        width: 100%; // Full width to align with the input/button
      }
    }
  }
}
