@use "../../../scss/" as *;

.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
  row-gap: 8rem;
  overflow: visible;
  @include tablet {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
  &__loadMore {
    text-align: center;
  }
}
.movie-search {
  text-align: center;
}
