@use "../../../scss/" as *;

.movie-list {
  .embla {
    max-width: 100%;
    margin: auto;
    --slide-height: 30rem;
    --slide-spacing: 2rem;
    --slide-size: 18%;

    @include tablet {
      --slide-size: 25%;
    }
    @include mobile {
      --slide-size: 50%;
    }
  }
  .embla__viewport {
    overflow: hidden;
  }
  .embla__container {
    display: flex;
    touch-action: pan-y pinch-zoom;
    margin-left: calc(var(--slide-spacing) * -1);
  }
  .embla__slide {
    transform: translate3d(0, 0, 0);
    flex: 0 0 var(--slide-size);
    min-width: 0;
    padding-left: var(--slide-spacing);
  }
}
