@use "../../../scss/" as *;
.movie-card__actions {
  @include flex(center !important, space-between !important);
  margin: 5px;
  margin-top: 10px;

  .add-btn,
  .rate-btn {
    background-color: $background-color-dark;
    color: $txt-color;
    padding: 8px;
    border-radius: $button-border-radius;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &.added {
      background-color: $main-color;
    }

    &:hover {
      background-color: lighten($main-color, 10%);
    }
  }

  .rating {
    display: flex;

    .star {
      color: $txt-color;
      cursor: pointer;
      transition: color 0.3s ease;

      &.rated {
        color: gold;
      }

      &:hover {
        color: gold;
      }
    }
  }
}
