$body-bg: #0f0f0f;
$main-color: #ff0000;
$txt-color: #fff;
$white-color: #fff;
$black-color: #000;
$background-color-dark:#2A2A2A;
$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
$hover-color: #0f0f0f;
$txt-color-light: #b7b7b7;

$header-height: 6rem;
$header-shrink-height: 5rem;
$border-radius: 30px;
$button-border-radius: 4px;
$mobile-width: 600px;
$tablet-width: 1024px;

$font-family: "Montserrat", "Poppins", sans-serif;
